@import 'src/styles/themes';
@import 'src/styles/mixins';

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 16px;
  width: 16px;
  transform: translateY(-50%);

  @include theme {
    border: 1px solid theme-get('primary-surface-default-dark-3');
  }
}

.radioBox {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  @include theme {
    border-color: theme-get('primary-surface-default-dark-3');
  }
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @include theme {
    border-color: theme-get('primary-surface-default-dark-3');
    background-color: theme-get('neutral-6');
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  @include theme {
    border: solid theme-get('primary-surface-default-dark-3');
    border-width: 0 2px 2px 0;
  }
}
