@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/themes';

.fastMode {
  margin-top: 8px;
}

.transferTab {
  width: 100%;
  margin-top: 20px;

  .tfBtn {
    background-color: $primary-bg-btn;
    @include theme() {
      color: theme-get('neutral-text-text-btn-default');
    }

    border-radius: 8px;
    padding: 16px;
    @include flex();
    align-content: center;
    margin-top: 24px;
    cursor: pointer;

    svg {
      margin-right: 5px !important;
    }
  }

  .tfTxt {
    font-weight: 600;
    font-size: 16px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.balanceDescription {
  width: 100%;
  text-align: left !important;

  @include mobile {
    padding-top: 10px;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  @include theme() {
    color: theme-get('neutral-8');
  }
  align-self: flex-start;
  margin: 8px 8px 8px 0;
}

.balanceAmount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.token {
  @include flex();
  margin-right: 10px;

  .tokenInfo {
    padding-left: 16px;

    .tokenName {
      font-weight: 600;
      font-size: 22px;
    }
  }
}

.table {
  .tableDes {
    padding: 24px;
    padding-top: 0px;
    justify-content: space-between;
    display: flex;
  }
}

.subLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  @include theme {
    color: theme-get('neutral-8');
  }

  &.token {
    align-self: flex-end;
  }
}

.fromBalanceDes {
  @include flex(space-between);
}

.balanceFromGroup {
  display: flex;

  @include mobile {
    width: 50%;
  }

  @media (max-width: 575px) {
    width: 100%;
    margin-top: 10px;
  }

  .balanceBtn {
    @include theme {
      border: 1px solid transparent;
      background: theme-get('primary-surface-default-subtle');
      color: theme-get('primary-surface-default-dark-3');
    }

    &:hover {
      @include theme {
        border: 1px solid theme-get('primary-surface-default-dark-3');
      }
    }

    cursor: pointer;
    border-radius: 8px;
    width: 66px;
    padding: 10px;
    margin-left: 12px;

    &:first-child {
      @media (max-width: 575px) {
        margin-left: 0;
      }
    }

    @include mobile {
      margin-left: 8px;
      padding: 6px;
    }
  }
}

.amount {
  text-align: left;
  border-radius: 8px;
  height: 48px;
  width: 180px;
  padding: 12px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 24px;

  @include theme {
    background: theme-get('neutral-surface-bg-btn-disabled');
    color: theme-get('colors-neutral-text-text-token-name');
  }

  @include mobile {
    width: 100%;
    font-size: 20px;
  }
}

.tokenSubAmouts {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.itemSubAmounts {
  color: #777e90;
  font-weight: 600;
  font-size: 13px;
}

.tokenFromGroup {
  margin: 5px 0;

  &.small {
    .amount {
      height: 48px;
      font-size: 16px;
      border-radius: 8px;
    }

    .balanceBtn {
      @include theme {
        border: 1px solid transparent;
        background: theme-get('primary-surface-default-subtle');
        color: theme-get('primary-surface-default-dark-3');
      }

      &:hover {
        @include theme {
          border: 1px solid theme-get('primary-surface-default-dark-3');
        }
      }

      font-weight: 500;
      border-radius: 8px;

      @include desktop {
        width: 66px;
        font-size: 16px;
      }

      @include mobile {
        width: 25%;
        font-size: 12px;
      }

      height: 48px;
      text-align: center;
    }

    .tfBtn {
      margin-top: 15px;
      width: 100%;
      border-radius: 8px;
      display: flex;
      gap: 10px;

      background-color: $primary-bg-btn;
      @include theme() {
        color: theme-get('neutral-text-text-btn-default');
      }
    }
  }
}

.tokenIcon {
  width: 44px;
  height: 44px;
}

.network {
  @include desktop {
    @include flex(space-between);
  }

  @include mobile {
    width: 100%;
  }

  .box {
    @include desktop {
      width: 50%;
    }

    .transfer {
      .content {
        @include flex(space-between);

        @include mobile {
          padding-top: 20px;
          justify-content: flex-start;
        }

        .title {
          font-size: 16px;
          font-weight: 600;
          color: #ebebeb;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;

          &.light {
            color: $light-text-color;
          }
        }

        .address {
          margin-left: 10px;
          border-radius: 8px;
          padding: 2px 8px;
          font-size: 13px;
          display: flex;
          justify-content: center;

          @include theme {
            color: theme-get('neutral-8');
            border: 1px solid theme-get('neutral-8');
          }
        }
      }
    }

    .search {
      position: relative;
      padding-top: 16px;
      cursor: pointer;

      &_filter {
        text-align: center;
        border-radius: 8px;
        padding: 12px;

        @include theme {
          background: theme-get('neutral-surface-bg-btn-disabled');
          color: theme-get('neutral-8');
        }
      }

      &_box {
        @include flex(space-between);
        padding: 0 10px;
      }

      &_logo {
        display: flex;
        align-items: center;
      }

      &_text {
        font-size: 16px;
        font-weight: 600;
        padding-left: 10px;

        &.light {
          color: #6f767e;
        }
      }
    }
  }
}

.loading {
  @include desktop {
    width: 50%;
    height: 180px;
  }

  @include flex();
}

.tokenFromGroupBalance {
  @include mobile {
    @include flex(space-between, center, column-reverse);
  }

  .bridgeFee {
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;

    @include theme() {
      color: theme-get('text-color-third');
    }

    span {
      color: $spanish-yellow;
    }
  }

  .relayerFee {
    display: inline-flex;
    gap: 2px;
  }
}

.items {
  position: absolute;
  width: 100%;
  background: #232521;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

  &_chain {
    display: flex;
    align-items: center;
  }

  &.light {
    background: #efefef;
    border-color: none;
  }

  border-radius: 8px;
  margin-top: 10px;

  li {
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
  }

  li:hover {
    @include theme {
      background-color: theme-get('neutral-6');
    }
    filter: brightness(1.25);

    div {
      @include theme {
        color: theme-get('neutral-8');
      }
    }
  }

  &_title {
    padding-left: 10px;
    color: #ebebeb;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    &.light {
      color: #6f767e;
    }
  }
}
