@import 'src/styles/themes';
@import 'src/styles/mixins';


.light {}

.modal {
  max-width: 568px;

  .container {
    background-color: #181a17;
    margin: auto;
    border-radius: 24px;
    padding: 24px;
    max-height: 100vh;
    overflow-y: auto;

    .header {
      display: flex;
      align-items: center;
    }

    .title {
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 100%;
      color: #ffffff;
    }

    .steps {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      .progress {
        position: relative;

        .currentStep {
          color: #aee67f;
        }
      }

      .text {
        font-weight: 600;
        font-size: 13px;
        height: 13px;
        color: #f7f7f7;
        font-size: 18px;
        position: relative;

        .point-1 {
          position: absolute;
          left: 0;
        }

        .point-2 {
          position: absolute;
          right: 0;
        }
      }
    }

    .supply {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      padding: 16px;
      gap: 15px;
      width: 100%;
      background-color: #232521;
      border-radius: 16px;

      .header {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 12px;

        .title {
          width: fit-content;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #ffffff;
        }

        .btn {
          cursor: pointer;
          background: #191b21;
          border-radius: 8px;
          padding: 12px;

          img {
            height: 11px;
            width: 11px;
          }
        }

        .percent {
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          color: #777e90;
          background: #1e1e21;
          border-radius: 8px;
          padding: 6px;
        }
      }

      .balance {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #777e90;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        width: 100%;

        .amountUsd {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
        }

        .btn {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 4px 6px;
          border-radius: 4px;
          font-weight: 500;
          font-size: 13px;
          color: #aee67f;

          &:hover {
            background: #333642 !important;
          }
        }

        .active {
          background: rgba(168, 113, 223, 0.3) !important;
        }
      }

      .input {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;

        color: #ffffff;

        .token {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 7px;
          width: 100%;

          .token-info {
            display: flex;
            align-items: center;
            gap: 7px;
          }

          .logo {
            width: 30px;
            height: 30px;
          }

          .placeholder-logo {
            background: linear-gradient(136.88deg, #393939 14.35%, #141416 90.69%);

            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .title {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            width: fit-content;
            /* identical to box height, or 22px */

            font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

            /* aiRight/White */

            color: #ffffff;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            white-space: nowrap;

            div:first-child {
              flex-grow: 1;
            }

            .des {
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 100%;
              /* identical to box height, or 16px */

              font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

              /* aiRight/Gray 3 */

              color: #777e90;
            }

            .highlight {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 100%;
              /* identical to box height, or 14px */

              text-align: center;

              /* aiRight/White */

              color: #ffffff;
              background: rgba(97, 47, 202, 0.7);
              border-radius: 2px;
              padding: 2px 6px;
            }
          }

          .arrow-down {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #ffffff;
          }
        }

        .itemInput {
          flex-grow: 1;

          &.disabled {
            opacity: 0.5;
            filter: blur(2px);
            pointer-events: none;
          }

          .tokenInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 44px;

            .name {
              display: flex;
              padding: 12px 12px 12px 12px;
              align-items: center;
              gap: 8px;
              height: 44px;
              flex-wrap: nowrap;
              white-space: nowrap;
              max-width: 8rem;

              border-radius: var(--Dimension-Corner-Radius-button, 99px);

              @include theme {
                border: 1px solid theme-get('neutral-border-border-xbold');
                background: theme-get('colors-neutral-border-border-bold');
                color: theme-get('colors-neutral-text-text-token-name');
              }

              font-size: 16px;
              font-weight: 400;
              line-height: 150%;

              svg {
                width: 28px;
                height: 28px;
              }
            }

            .input {
              flex: 1;
              text-align: right;
              display: flex;
              flex-direction: column;

              .amount {
                flex-grow: 1;
                opacity: 1;
                width: inherit;
                text-align: right;
                font-size: 28px;
                font-weight: 400;
                line-height: 127%;

                @include mobile {
                  width: 100%;
                  font-size: 24px;
                }
              }

              .usd {
                font-weight: 400;
                font-size: 13px;

                @include theme() {
                  color: theme-get('colors-neutral-text-body');
                }

                display: flex;
                justify-content: flex-end;
              }
            }
          }

          .balance {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include theme {
              color: theme-get('neutral-8');
            }

            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.012px;

            .amountUsd {
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }

            .bal {
              margin-right: 8px;

              p {
                @include theme {
                  color: theme-get('colors-neutral-text-text-token-name');
                }
              }

              .value {
                @include theme {
                  color: theme-get('neutral-text-title');
                }
              }

              .max {
                margin-left: 8px;
                cursor: pointer;

                @include theme {
                  color: theme-get('primary-1');
                }
              }
            }

            .btnGroup {
              display: flex;
              flex-wrap: nowrap;
              gap: 4px;
            }

            button {
              display: flex;
              width: 40px;
              height: 22px;
              padding: 8px 0px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: var(--Dimension-Corner-Radius-button, 99px);

              @include theme {
                background: theme-get('primary-highlight-section');
                color: theme-get('colors-neutral-text-text-btn-default');
              }

              font-size: 12px;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: 0.012px;
              cursor: pointer;
              transition: all ease-in-out 0.3s;

              &:hover {
                filter: brightness(1.25);
              }
            }
          }
        }

        .amount {
          flex-grow: 1;
          text-align: right;
          border-radius: 8px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 5px;

          input {
            text-align: right;
            width: 90%;
          }

          span {
            color: #505665;
          }
        }
      }
    }

    .swap-btn {
      width: 100%;
      border-radius: 99px;
      padding: 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      margin: 32px 0 0 0;
      background-color: #aee67f;
      color: #1e300a;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .back-btn {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      fill: red;
      cursor: pointer;
      width: 30px;
      height: 30px;

      svg {
        width: 25px;
        height: 25px;

        path {
          fill: #cccccc;
        }
      }
    }

    .stat {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      width: 100%;

      .stats_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .stats_info_wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          &:first-child {
            padding-bottom: 20px;
            border-bottom: 2px solid #232521;
            margin-bottom: 20px;
          }

          .percent-each {
            padding: 8px;
            font-weight: 500;
            font-size: 12px;
            border-radius: 6px;
            border: 2px solid #232521;
          }
        }

        .stats_info_row {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .stats_info_cl {
          width: 16px;
          height: 16px;
        }

        .stats_info_lg {
          width: 32px;
          height: 32px;
          margin-right: 15px;
        }

        .stats_info_name {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          /* identical to box height, or 18px */

          text-align: center;
          font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

          /* aiRight/White */

          color: #ffffff;
          text-transform: uppercase;
        }

        .stats_info_percent {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          /* identical to box height, or 14px */

          font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

          /* aiRight/Gray 3 */

          color: #777e90;
        }

        .stats_info_value_amount {
          text-align: right;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          /* identical to box height, or 18px */

          font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

          /* aiRight/White */

          color: #ffffff;
        }

        .stats_info_value_usd {
          margin: 5px 0 20px 0;
          text-align: right;
          flex-grow: 1;

          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          /* identical to box height, or 14px */

          font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

          /* aiRight/Gray 3 */

          color: #777e90;
        }
      }

      .percent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .percent-each {
          // height: 50%;
          padding: 8px;
          font-weight: 500;
          font-size: 12px;
          border-radius: 6px;
          border: 2px solid #232521;
        }
      }
    }
  }
}